<h1>New Friend</h1>

<div id="notice">
  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</div>



<%= render 'form' %>

<%= link_to 'Back', friends_path %>


