body{
	background: #efe7dc url(../img/bg.jpg);
    border-top: solid 3px #3B3024
}.logo{
	padding-top: 50px;
}
.primeTagLine {
    float: right;
    display: block;
    width: 380px;
    height: 32px;
    margin: 15px 25px 0 0;
    text-indent: -9999em;
    background: url(../img/tagline_stayawake.png) no-repeat;
}
body .navbar-default {
    background-color: rgba(130, 182, 191, 0.72);
/*    background: url(../img/bg_nav.png) repeat-x;
*/    border-color: #3B2912;
	  color: #000;	
}
body .navbar-default .navbar-nav>.active>a,body .navbar-default .navbar-nav>.active>a:focus,body .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #3B3024;
 }
 body .navbar-default .navbar-nav>li>a{
   color: #3B2912;	
 }.content{
	min-height: 400px;
 }.footer{
 	text-align: center;
    color: #3B2912;
    font-size: 19px;
    border-top: solid 1px #3B2912;
    padding-top: 10px;
    padding-bottom: 8px;
        background: rgba(59, 41, 18, 0.32);
}
 