<h1>New Order</h1>
<div class="row">
  <div class="col-md-8"><%= render 'form' %></div>
  <div class="col-md-4">
    <table>
      <tr>
        <th><h3>Friends Invited</h3></th>
      </tr>
      <tr>
        <td>January</td>
      </tr>
    </table>
  </div>
</div>


<%= link_to 'Back', orders_path %>
