

      <p id="notice"><%= notice %></p>

      <h1>Latest Orders</h1>

      <table>
        <thead>
        <tr>
        </tr>
        </thead>

        <tbody>
        <% @order.each do |order| %>
            <tr>
              <td><%= order.order %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>


