<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @invited_fiend.status %>
</p>

<%= link_to 'Edit', edit_invited_fiend_path(@invited_fiend) %> |
<%= link_to 'Back', invited_fiends_path %>
