body{
	background-image: url( image_path("bg.jpg") );

    background-color:#efe7dc;
    border-top: solid 3px #3B3024
}.logo{
	padding-top: 50px;
}
.primeTagLine {
    float: right;
    display: block;
    width: 380px;
    height: 32px;
    margin: 15px 25px 0 0;
    text-indent: -9999em;
    background: url(image_path('tagline_stayawake.png')) no-repeat;
}
body .navbar-default {
    background-color: rgba(130, 182, 191, 0.72);
/*    background: url(../img/bg_nav.png) repeat-x;
*/    border-color: #3B2912;
	  color: #000;	
}
body .navbar-default .navbar-nav>.active>a,body .navbar-default .navbar-nav>.active>a:focus,body .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #3B3024;
 }
 body .navbar-default .navbar-nav>li>a{
   color: #3B2912;	
 }.content{
	min-height: 400px;
 }.footer{
 	text-align: center;
    color: #3B2912;
    font-size: 19px;
    border-top: solid 1px #3B2912;
    padding-top: 10px;
    padding-bottom: 8px;
        background: rgba(59, 41, 18, 0.32);
}
 body .new{
 background-color:#3B3024;
 border-color:#3B3024;
 }.imgusr img {
 width:30px;
 height:30px;
 position: absolute;
 }.border{
 border:solid 1px #97B8BB;
 }.image_group{
 width:30px;
 height:30px;
 }body ul li{
 list-style:none;
 background: rgba(151, 184, 187, 0.57);
 padding: 2px;
 border-radius: 5px;
 }body ul li span.groupd{
 padding-top:5px;
 position :relative;
 top:4px;
 font:bold 13px #555 ;
 }.icons{
 padding:0 5px 0 5px;
 }.gr{
 font-size:16px;
 }.gr li{
 padding:5px;
 margin:5px;
  }.danger img{
                    width:100px;
                    height:100px;}